@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Manrope";
  font-style: normal; }

header span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #626262; }
header .navbar-nav a {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #212121;
  margin-right: 8px;
  margin-left: 8px; }
header label {
  display: none; }
header .dropdown .btn {
  background-color: initial;
  color: #212121;
  border: none; }

.btn-link, .Table .white {
  padding: 13px 44px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: #1E7CCF;
  border-radius: 250px;
  text-decoration: none;
  transition: 0.2s; }

.First_section {
  padding: 110px 0 65px;
  background-color: #F2F7FD; }
  .First_section h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 21px; }
    .First_section h1 span {
      font-size: 45px; }
  .First_section p {
    margin-bottom: 31px; }

.Download {
  padding: 47px 0 47px;
  background-color: #EEF1F4; }
  .Download .row div:nth-child(1) img {
    margin-right: 18px; }
  .Download .row div:nth-child(2) div {
    display: inline-block;
    max-width: 141px;
    text-align: center;
    margin-right: 36px; }
  .Download .row div:nth-child(2) img {
    margin: 0; }
  .Download button {
    background: #E73F32;
    border-radius: 250px;
    color: #ffffff;
    border: none;
    padding: 4px 44px 3px 33px;
    font-weight: 700;
    display: flex;
    align-items: center; }
    .Download button h3 {
      font-weight: 700;
      font-size: 23px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      margin-left: 47px;
      margin-bottom: 0; }
    .Download button i {
      display: block;
      font-size: 32px; }
    .Download button:after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 76px;
      background-color: #ffffff;
      position: relative;
      right: 211px; }
    .Download button span {
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      text-align: center;
      font-style: normal; }
  .Download h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; }

.Tools {
  color: #212121;
  padding: 58px 0 80px; }
  .Tools p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 36px; }
  .Tools a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none; }
  .Tools h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px; }
  .Tools .row div:nth-last-child(-n+4) {
    margin-bottom: 30px; }
    .Tools .row div:nth-last-child(-n+4) p {
      margin-bottom: 0; }
    .Tools .row div:nth-last-child(-n+4) div {
      max-width: 100%;
      min-height: 265px;
      background-color: #EEF1F4;
      padding: 33px 0 0 27px;
      border-radius: 20px; }
      .Tools .row div:nth-last-child(-n+4) div p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: block; }
      .Tools .row div:nth-last-child(-n+4) div img {
        margin-bottom: 18px; }

.Clients {
  padding: 60px 0 62px;
  background-color: #1E7CCF;
  color: #ffffff; }
  .Clients h2 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px; }
  .Clients h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px; }
  .Clients .row div:first-child p {
    position: relative;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 34px; }
  .Clients .row div:first-child p:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0px;
    left: -34px;
    background: url("../img/logos/Vector-white.svg"); }

.Community {
  padding: 59px 0 59px; }
  .Community h2 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px; }
  .Community h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px; }
  .Community p {
    position: relative;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 34px; }
  .Community p:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0px;
    left: -34px;
    background: url("../img/logos/Vector-blue.svg"); }

.Social-networks {
  background-color: #F2F7FD;
  padding: 56px 0 76px; }
  .Social-networks h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px; }
  .Social-networks p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px; }

.laptop, .laptop-2 {
  padding: 100px 0 0; }
  .laptop .row div:first-child:before, .laptop-2 .row div:first-child:before {
    content: "";
    display: inline-block;
    width: 31px;
    height: 36px;
    top: 151px;
    right: -15px;
    position: absolute;
    background: url("../img/logos/Vector-right.svg"); }

.laptop-2 {
  background-color: #F2F7FD; }

.Public_contacts {
  padding: 66px 0 76px; }
  .Public_contacts h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 23px; }
  .Public_contacts p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; }
  .Public_contacts a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px; }

.Functional {
  padding: 53px 0 90px;
  background-color: #F2F7FD; }
  .Functional h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 23px; }
  .Functional p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px; }
  .Functional .row div:last-child .box {
    text-align: center; }
    .Functional .row div:last-child .box a {
      margin-top: 32px; }
  .Functional .box {
    border: 1px solid #CED7E2;
    border-radius: 20px;
    min-height: 322px;
    padding: 27px 0 0 27px;
    background-color: #ffffff;
    margin-bottom: 30px; }
    .Functional .box img {
      margin-right: 19px;
      margin-bottom: 8px; }
    .Functional .box h3 {
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      color: #E73F32; }
    .Functional .box p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px; }

.Why_choose_us {
  padding: 50px 0 60px; }
  .Why_choose_us h2 {
    margin-bottom: 32px;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px; }
  .Why_choose_us .box {
    border: 1px solid #CED7E2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .Why_choose_us .box h3 {
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      color: #1E7CCF;
      text-transform: uppercase; }
    .Why_choose_us .box img {
      margin-right: 30px; }
    .Why_choose_us .box div {
      max-width: 841px; }
      .Why_choose_us .box div p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px; }

.Table {
  padding: 38px 0 61px; }
  .Table h2 {
    margin-bottom: 33px;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px; }
  .Table table {
    margin-bottom: 38px; }
    .Table table i:before {
      color: #ffffff;
      position: relative;
      z-index: 1; }
    .Table table .fa-plus {
      color: black;
      position: relative;
      z-index: 1; }
      .Table table .fa-plus:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: -12px;
        right: -12px;
        width: 36px;
        height: 36px;
        background-color: #27AE60;
        border-radius: 100%; }
    .Table table .fa-minus {
      color: #ffffff;
      position: relative; }
      .Table table .fa-minus:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: -12px;
        right: -12px;
        width: 36px;
        height: 36px;
        background-color: #E73F32;
        border-radius: 100%; }
    .Table table thead {
      background-color: #1E7CCF;
      color: #ffffff; }
      .Table table thead th {
        vertical-align: middle;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px; }
      .Table table thead th:first-child {
        width: 24%; }
      .Table table thead th:nth-child(5) {
        width: 11%; }
      .Table table thead th:nth-child(3) {
        width: 15%; }
      .Table table thead th:last-child {
        width: 11%; }
    .Table table tbody td:first-child {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      vertical-align: middle; }
    .Table table tbody td:not(tr:first-child td, td:first-child) {
      vertical-align: middle;
      text-align: center; }
    .Table table tbody td {
      height: 75px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px; }
    .Table table tbody tr:nth-child(3) td:nth-child(3) {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #E73F32; }
    .Table table tbody span {
      font-weight: 800;
      font-size: 18px;
      line-height: 20px;
      display: block; }
  .Table a {
    margin-right: 8px; }
  .Table .white {
    background-color: #ffffff;
    color: #1E7CCF;
    border: 1px #1E7CCF solid; }
    .Table .white:hover {
      background-color: #1E7CCF;
      color: #ffffff;
      border: 1px transparent solid; }

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #F8FBFF; }

.Beginners_professionals {
  padding: 53px 0 58px; }
  .Beginners_professionals h2 {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #1E7CCF;
    margin-bottom: 7px; }
    .Beginners_professionals h2:before {
      content: "";
      display: block;
      width: 47px;
      height: 47px;
      background: url("../img/logos/Vector-bigger.svg");
      margin-bottom: 19px; }
  .Beginners_professionals p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; }
  .Beginners_professionals .row div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Beginners_professionals .row div:last-child img {
      margin-bottom: 25px; }

.Comments {
  padding: 40px 0 68px;
  background: #F2F7FD; }
  .Comments p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #545454; }
  .Comments h2 {
    margin-bottom: 33px; }
  .Comments .box_carusel {
    padding: 31px 0 27px 30px;
    background-color: #FFFFFF;
    min-height: 269px;
    border: 1px solid #CED7E2;
    border-radius: 20px; }

.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 108px;
  left: -84px; }
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 108px;
  right: -84px; }
.owl-carousel .owl-nav button img {
  position: relative;
  z-index: 5; }
.owl-carousel .owl-nav button:nth-child(2):before {
  content: "";
  width: 54px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #CED7E2;
  border-radius: 100%;
  position: absolute;
  top: -13px;
  right: -19px;
  z-index: 0; }
.owl-carousel .owl-nav button:nth-child(1):before {
  content: "";
  width: 54px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #CED7E2;
  border-radius: 100%;
  position: absolute;
  top: -13px;
  right: -22px;
  z-index: 0; }
.owl-carousel .owl-stage .owl-item {
  background: #FFFFFF;
  border: 1px solid #CED7E2;
  border-radius: 20px;
  padding: 30px 10px 0px 31px;
  min-height: 269px; }
  .owl-carousel .owl-stage .owl-item:before {
    content: "";
    display: inline-block;
    width: 76px;
    height: 16px;
    background: url("../img/Звезды.svg");
    position: absolute;
    top: 33px;
    right: 27px; }
  .owl-carousel .owl-stage .owl-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #545454; }
  .owl-carousel .owl-stage .owl-item span {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px; }

footer {
  padding: 44px 0 0; }
  footer .row:first-child {
    display: block; }
  footer hr {
    margin-bottom: 1.5rem; }
  footer nav {
    margin-bottom: 41px; }
  footer .row:last-child {
    margin-bottom: 26px; }
    footer .row:last-child span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #545454; }
      footer .row:last-child span a {
        text-decoration: none;
        font-weight: 600; }
    footer .row:last-child span:nth-child(1) a {
      color: #545454;
      text-decoration: none;
      font-weight: normal; }

.under-footer {
  padding: 8px 0 7px;
  text-align: center;
  background: #333333; }
  .under-footer span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    aline-height: 24px;
    color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
